body{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    
}
/*----- navbar----- */
.navbar-brand{
    font-size: 22px;
    line-height: 33px;
    color: #3E3E3E;
}

/* -----carousel----- */
.cover-header{
    color: #FFFFFF;
}
@media only screen and (max-width: 704px){
    .car-head{
        font-size:medium;
        line-height: 1;
        margin-bottom: 0px;
    }
    .car-body{
        font-size:smaller !important;
        line-height: 1;
        margin-bottom: 0px;

    }
    .car-button{
        font-size:smaller !important;
        padding: 1px;
        margin-bottom: 0px;
    }
    .carousel-inner{
        margin-top: 10px;
    }
}